/.git
/node_modules
/beatmaps
/.trash
misc/sql_backup
misc/config.js
osu-beatmap-uploader-tg.code-workspace
data/config.js
error_file.txt
lastbeatmap.txt
data/errors.txt
data/last_beatmap
data/logs/errors.txt
test.js
